{% extends 'base.html' %}

{% load humanize %}

{% block title %} Real Estate, Apartments, Mortgages & Home Values{% endblock %}

{% block content %}
    <div class="page-header"
         style="background-image: url('https://images.unsplash.com/photo-1498475932703-000eb46e6375?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=');">
        <div class="filter"></div>
        <div class="content-center">
            <!-- Alerts -->
    {% include 'partials/_alerts.html' %}
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h1 class="title">Reimagine home</h1>
                        <h5 class="description">We’ll help you find a place you’ll love.</h5>
                        <br/>
                    </div>
                    <div class="col-md-10 ml-auto mr-auto">
                        <div class="card card-raised card-form-horizontal no-transition">
                            <div class="card-body">
                                <form method="" action="{% url 'search' %}">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <input type="text" value="" placeholder="City" class="form-control"
                                                       name="city"/>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <select name="state" class="form-control form-control-success">
                                                    <option selected="true" disabled="disabled">State (All)</option>
                                                    {% for key,value in state_choices.items %}
                                                        <option value="{{ key }}">{{ value }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <select name="bedrooms" class="form-control form-control-success">
                                                    <option selected="true" disabled="disabled">Bedrooms (All)</option>
                                                    {% for key,value in bedroom_choices.items %}
                                                        <option value="{{ key }}">{{ value }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <select name="price" class="form-control form-control-success"
                                                        id="type">
                                                    <option selected="true" disabled="disabled">Max Price (Any)</option>
                                                    {% for key,value in price_choices.items %}
                                                        <option value="{{ key }}">{{ value }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <button type="submit" class="btn btn-danger btn-block"><i
                                                    class="nc-icon nc-zoom-split"></i> &nbsp; Search
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{##}
{#    <br>#}
{##}
{#    <!-- Listings -->#}
{#    <section id="listings" class="py-5">#}
{#        <div class="container">#}
{#            <h3 class="text-center mb-3">Latest Listings</h3>#}
{#            <div class="row">#}
{#                {% if listings %}#}
{#                    {% for listing in listings %}#}
{#                        <!-- Listing 1 -->#}
{#                        <div class="col-md-6 col-lg-4 mb-4">#}
{#                            <div class="card listing-preview">#}
{#                                <img class="card-img-top" src="{{ listing.photo_main.url }}" alt="">#}
{#                                <div class="card-img-overlay">#}
{#                                    <h2>#}
{#                                        <span class="badge badge-secondary text-white">${{ listing.price | intcomma }}</span>#}
{#                                    </h2>#}
{#                                </div>#}
{#                                <div class="card-body">#}
{#                                    <div class="listing-heading text-center">#}
{#                                        <h4 class="text-primary">{{ listing.title }}</h4>#}
{#                                        <p>#}
{#                                            <i class="fas fa-map-marker text-secondary"></i> {{ listing.city }} {{ listing.state }}, {{ listing.zipcode }}#}
{#                                        </p>#}
{#                                    </div>#}
{#                                    <hr>#}
{#                                    <div class="row py-2 text-secondary">#}
{#                                        <div class="col-3">#}
{#                                            <i class=""></i> Sqft: {{ listing.sqft| intcomma }}</div>#}
{#                                        <div class="col-3">#}
{#                                            <i class=""></i> Garage: {{ listing.garage }}</div>#}
{##}
{#                                        <div class="col-3">#}
{#                                            <i class=""></i> Bed: {{ listing.bedrooms }}</div>#}
{#                                        <div class="col-3">#}
{#                                            <i class=""></i> Bath: {{ listing.bathrooms }}</div>#}
{#                                    </div>#}
{#                                    <hr>#}
{#                                    <div class="row py-2 text-secondary">#}
{#                                        <div class="col-6">#}
{#                                            <i class="fas fa-user"></i> {{ listing.realtor }}</div>#}
{#                                    </div>#}
{#                                    <div class="row text-secondary pb-2">#}
{#                                        <div class="col-6">#}
{#                                            <i class="fas fa-clock"></i> {{ listing.list_date | timesince }}#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <hr>#}
{#                                    <a href="{% url 'listing' listing.id %}" class="btn btn-primary btn-block">More#}
{#                                        Info</a>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    {% endfor %}#}
{#                {% else %}#}
{#                    <div class="col-md-12">#}
{#                        <p>No Listings Available</p>#}
{#                    </div>#}
{#                {% endif %}#}
{##}
{#            </div>#}
{#        </div>#}
{#    </section>#}
{% endblock %}